body {
    background: url("./images/bg.png") fixed;
    font-family: 'Nunito', sans-serif;
}

h1,
h3 {
    font-family: 'Nunito', sans-serif;
    margin: 0px;
}

button {
    margin-top: 15px;
}

.title{
    margin-top: 1%;
}

.student-add-form {
    display: none;
}

.student-list-container{
    background: rgba(255, 255, 255, .6);
    position: absolute;
    top:22%;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 2%;
    font-weight: 600;
    overflow: auto;
    table-layout: fixed;
}

th:last-child{
    width: 10%;
}

.glyphicon{
    cursor: pointer;
    margin: 0 1% 0 2%;
}

.dropdown-submenu {
    position:relative;
    cursor: pointer;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
}

#delete_student_info{
    list-style-type: none;
}

.delete{
    margin: 3% 0 0 5%;
}

@media only screen  and (min-width : 1824px) {
    .student-list-container{
        position: absolute;
        top:18%;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        font-weight: 600;
    }


}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .student-list-container{
        position: absolute;
        top:13%;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        font-weight: 600;
    }

    .title{
        margin-top: 2%;
    }
}